* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    background: linear-gradient(60deg, #c0c999 0%, #485563 100%) fixed;
    font-size: 20px;
}

footer {
    margin: 35px;
}

ul {
    text-align: left;
}

input {
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 20px;
}

.password-info {
    font-size: 16px;
    color: rgb(255, 243, 0);
    font-weight: 700;
}

.details {
    margin-top: 25px;
    font-size: 25px;
    margin-bottom: 10px;
}